# Pandas: When cell contents are lists, create a row for each element in the list

https://stackoverflow.com/a/27266225/3744499

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {'trial_num': [1, 2, 3, 1, 2, 3],
     'subject': [1, 1, 1, 2, 2, 2],
     'samples': [list(np.random.randn(3).round(2)) for i in range(6)]
    }
)

In [25]:
df

                samples  subject  trial_num
0   [-1.92, 0.4, -0.54]        1          1
1  [0.42, -1.23, -0.23]        1          2
2    [0.43, -1.7, 1.25]        1          3
3    [-0.92, 1.41, 0.7]        2          1
4  [-1.88, 2.22, -0.68]        2          2
5  [-1.5, -1.36, -0.48]        2          3

In [27]:
df['samples']

0     [-1.92, 0.4, -0.54]
1    [0.42, -1.23, -0.23]
2      [0.43, -1.7, 1.25]
3      [-0.92, 1.41, 0.7]
4    [-1.88, 2.22, -0.68]
5    [-1.5, -1.36, -0.48]
Name: samples, dtype: object

In [28]:
res = df.set_index(['subject', 'trial_num'])['samples'].apply(pd.Series).stack().reset_index()
res

    subject  trial_num  level_2     0
0         1          1        0 -1.92
1         1          1        1  0.40
2         1          1        2 -0.54
3         1          2        0  0.42
4         1          2        1 -1.23
5         1          2        2 -0.23
6         1          3        0  0.43
7         1          3        1 -1.70
8         1          3        2  1.25
9         2          1        0 -0.92
10        2          1        1  1.41
11        2          1        2  0.70
12        2          2        0 -1.88
13        2          2        1  2.22
14        2          2        2 -0.68
15        2          3        0 -1.50
16        2          3        1 -1.36
17        2          3        2 -0.48

In [29]:
res.columns = ['subject','trial_num','sample_num','sample']
res

    subject  trial_num  sample_num  sample
0         1          1           0   -1.92
1         1          1           1    0.40
2         1          1           2   -0.54
3         1          2           0    0.42
4         1          2           1   -1.23
5         1          2           2   -0.23
6         1          3           0    0.43
7         1          3           1   -1.70
8         1          3           2    1.25
9         2          1           0   -0.92
10        2          1           1    1.41
11        2          1           2    0.70
12        2          2           0   -1.88
13        2          2           1    2.22
14        2          2           2   -0.68
15        2          3           0   -1.50
16        2          3           1   -1.36
17        2          3           2   -0.48